source https://api.nuget.org/v3/index.json

framework: auto-detect

nuget FSharp.Core content: none
nuget FSharp.Data
nuget SharpZipLib

nuget JaggerJo.Avalonia.FuncUI 0.5.0-beta
nuget JaggerJo.Avalonia.FuncUI.DSL 0.5.0-beta
nuget JaggerJo.Avalonia.FuncUI.Elmish 0.5.0-beta
nuget Avalonia.Diagnostics
